<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags always come first -->
		<!-- <meta charset="utf-8"> -->
		<meta charset="[% settings.charset %]">

		<meta name="viewport" 
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Reservas::Manager</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" 
			integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" 
			crossorigin="anonymous"
		>

	</head>
	<style type="text/css">
	html{
		height:101%;
	}
	body{
		/*font-family: monospace;*/
	}
	.container{
		padding:1rem 0;
	}	
	section{
		border-top: 1px solid rgba(0,0,0,.15);
		border-bottom: 1px solid rgba(0,0,0,.15);
	}
	header,footer{
		border-radius: 0px !important;
		background: #007C85;
	}
	header a,footer a{
		color:#FFF;
	}
	.nav a{
		text-transform:	uppercase;
		font-weight:bold;
		margin-left: 20px;
	}
	h1{
		margin: 40px 0;
	}	
	.registros, .registros th{
		text-align: center;
	}

	</style>
	
	<body>
		<header class="navbar navbar-static-top">
			<div class="container">
				<nav class="nav nav-inline">
					<a href="/">Reservas</a>
					<a href="/consultar">Consultar</a>
				</nav>
			</div>
		</header>
		
		<section class="container">
			<div class="page">
				[% IF page_title %]
					<h1>[% page_title %]</h1>
				[% END %]
				[% IF msg %]
					[% IF puede_reservar %]
						<div 
							class="alert alert-success flash" 
							role="alert"
						>
					[% ELSE %]
						<div 
							class="alert alert-danger flash" 
							role="alert"
						>
					[% END %]
						[% msg %]
					</div>
				[% END %]
				
				[% content %]
			</div>

		</section>
		
		<footer id="footer">
			<div class="container">
				<div class="logout">
					[% USE date %]
					[% date.format %]
					/	
					[% IF not session.logged_in_user %]
						<a href="[% login_url %]">Log IN</a>
					[% ELSE %]
						<a href="[% logout_url %]">Log OUT</a>
					[% END %]
				</div>
				<div class="copy">
					Powered by 
					<a href="http://perldancer.org/">
						Dancer2
					</a>
					[% dancer_version %]
				</div>
			</div>
		</footer>

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	
	</body>
</html>
